In [34]:
import pandas as pd
import numpy as np

'''an example to show how to add a row of data in dataframe
'''
df = pd.read_excel('excel_data.xlsx')
df.head()
sum_row=df[['data']].sum()
df_sm = pd.DataFrame(data=sum_row).T
df_sm = df_sm.reindex(columns = df.columns)
df_final = df.append(df_sm,ignore_index=True)
#df_final.groupby?
df_final.shift(1)

'''some other functions to note
    - df.apply 
        - apply function to data
        - parameter axis 0/1 to select row/column
        
    - df.head/df.tail
    - df.applymap
    - df.rename(index={0:'Total'})
    - df.shift(1).fillna(0)
'''

"some other functions to note\n    - df.apply \n        - apply function to data\n        - parameter axis 0/1 to select row/column\n        \n    - df.head/df.tail\n    - df.applymap\n    - df.rename(index={0:'Total'})\n"

In [43]:
df_final.shift(1,axis=1)

   chip  data
0   NaN   1.0
1   NaN   2.0
2   NaN   3.0
3   NaN   NaN